@page "/"

<h1>Welcome to SuperMarket Store Management </h1>

supermarket, large retail store operated on a self-service basis, selling groceries,
fresh produce, meat, bakery and dairy products, and sometimes an
assortment of nonfood goods. ...
Convenience stores, often attached to a gasoline station, offer snack foods, dairy items, and notions

<SurveyPrompt Title="Now All Your Choices are available on one place just visit and buy as you want" />

<p>Welcome to Super Market store management system</p>
